@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//Body
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
$white: #fff;

// NAV
$bgc_nav: #020203;

// ACTIVITY
$activity_dot1: #282d30;
$activity_text: #20253a;
$activity_dot2: #e60000;
$activity_dot_text: #74798c;

// OBJECTIF
$bgc_objectif: #ff0000;

// CARDS
$bgc_card: #fbfbfb;
$card_number: #282d30;
$card_text: #74798c;
