// @import url("./Settings");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("../Style/Components/Layout.scss");
@import url("../Style/Components/NavbarTop.scss");

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
